<h1>Hello, let's plan your day now!</h1>

<h2>Tell me your three tasks that you want to complete today :)</h2>
(It doesn't necessarily need to be the most important or crucial tasks from your job, but what would make you feel great about your day)

<%= form_for :task, url: tasks_path do |f| %>

    <div class="form-group">
      <%= f.label :title, "Task:" %><br>
      <%= f.text_field :title, class: "form-control", placeholder: "Insert your task name here" %>
    </div>
  	 
 
  <p>
    <%= f.submit class:'btn btn-primary'%>
  </p>
<% end %>
</form>

<h2>Tasks that should be done today</h2>
 
<table class="table table-condensed table-bordered">
  <tr class="info">
    <th width="03%">ID</th>
    <th width="45%">Task</th>
    <th width="41%">Status</th>
  </tr>

  <% @tasks.each do |task| %>
    <% if task.isDone? %>
      
    <% else %>
      <tr class="btn-danger">
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= link_to "Mark as Done!", "/tasks/markAsDone/#{task.id}", class: "btn btn-success"%>
        </td>    
      </tr>    
    <% end %>


  <% end %>
</table>

<h2>Tasks that were done today</h2>
 
<table class="table table-condensed table-bordered">
  <tr class="info">
    <th width="03%">ID</th>
    <th width="45%">Task</th>
    <th width="41%">Status</th>
  </tr>

  <% @tasks.each do |task| %>
    <% if task.isDone? %>
      <tr class="btn-success">
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= link_to "Mark as Undone!", "/tasks/markAsUndone/#{task.id}", class: "btn btn-danger"%>
        </td>    
      </tr>
    <% end %>


  <% end %>
</table>

