<h1>Hello, let's plan your day now :)</h1>

<h2>Tell me your three tasks that you want to complete today</h2>
(It doesn't necessarily need to be the most important or crucial tasks from your job, but what would make you feel great about your day)

<%= form_for :task, url: tasks_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>	 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2> Tarefas a serem realizadas hoje </h2>
 
<table>
	<tr>
    	<th>Tarefa</th>
  	</tr>

  	<% @tasks.each do |task| %>
    	<tr>
      		<td><%= task.id %></td>
      		<td><%= task.title %></td>
    	</tr>
  	<% end %>
</table>